doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title ESSEC
    //- link(rel="preload" href="fonts/opensans-regular.woff2" as="font" crossorigin="anonymous")
    link(rel="stylesheet", href="lib/css-awesome/all.min.css")
    link(rel="stylesheet", href="lib/css-awesome/brands.css")
    link(rel="stylesheet" href="lib/glide/glide.core.min.css")
    link(rel="stylesheet" href="css/style.min.css")

  body
    //- include ../modules/header

    main.programmes-page
      .programmes-page__hover(style="background-image: url(img/programmes-hover.jpg)")
        .wrap
          h1.programmes-page__hover-title Online accredited courses in Digital Transformation
          p.programmes-page__hover-appeal Discover all our courses
      .wrap
        section.programmes-page__programmes.programmes
          h2.programmes__title-long Online executive certificates for managers looking to increase their employability
          p.programmes__desc-long Executive Certificates are perfect for managers who need to boost their digital skills and tackle digital transformation in its different areas.
          include ../modules/programmes
          include ../modules/programmes__programm-long

        .programmes-page__message.message
          p.message__desc Get in touch to discover where online learning could take you
          a.message__btn(href="#") Contact us now

    //- include ../modules/footer

    script(src="js/polyfill.min.js")
    script(src="lib/glide/glide.min.js")
    script(src="js/script.js")
    script(src="js/programmes-slider.js")
    
    
    //- script(type='text/javascript' defer) new Glide('.glide', {type: 'carousel',startAt: 0, perView: 3, gap: 30, autoplay: 4000, animationTimingFunc: 'cubic-bezier(.36,.39,.31,1.02)', dragThreshold: 50, animationDuration: 1000, breakpoints: { 1100: {perView: 2 },550: {perView: 1}},}).mount();
