.home-page {
  background-color: $white;
  padding-bottom: 20px;
  background-color: $white;
  .programmes__programm-long {
    display: none;
  }
}

.home-page__hover {
  position: relative;
  padding-top: 160px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 250px;
  width: 100%;
  background-color: $blue-black;
  background-size: auto 100%;
  background-position: center;
  text-align: center;
  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: $blue-black;
  }
}

.home-page__hover-title {
  position: relative;
  margin-bottom: 50px;
  font-size: 38px;
  line-height: 50px;
  color: $white;
}

.home-page__hover-btn {
  @include btn;
  position: relative;
  margin: 0 auto;
  max-width: 265px;
  background-color: $red;
  color: $white;
}

.home-page__advantage {
  margin-top: -55px;
  margin-bottom: 80px;
}
.home-page__programmes {
  margin-bottom: 86px;
}

.home-page__message {
  margin-bottom: 85px;
}

.home-page__media {
  margin-bottom: 70px;
}

.home-page__review {
  margin-bottom: 100px;
}