.programmes-page {
 min-height: 355px;
 .programmes__slide-wrap--master {
   display: none;
 }
}
.programmes-page__hover {
  position: relative;
  background-color: rgba(66, 139, 202, .65);
  background-image: url(../img/programmes-hover.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 50px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 80px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(66, 139, 202, .65);
  }
}
.programmes-page__hover-title {
  position: relative;
  z-index: 1;
  font-size: 24px;
  line-height: 32px;
  color: $white;
  font-weight: 400;
}
.programmes-page__hover-appeal {
  position: relative;
  z-index: 1;
  color: $white;
  font-size: 16px;
  line-height: 19px;
}
// .programmes-page__programmes