.update-02-2020 {
  .review {
    text-align: center;
  }

  .review__title {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0;
    margin-bottom: 70px;
  }

  .review__wrap-slider {
    background-color: #3b57a1;
  }

  .review__glide {
    position: relative;
    padding-top: 150px;
    padding-bottom: 125px;
  }

  .review__slide {
    padding-left: 45px;
    padding-right: 45px;
  }

  .review__list {
    margin-top: 0;
    margin-bottom: 0;
    color: $white;
  }

  .review__arrow-wrap {
    position: absolute;
    width: 92%;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .review__arrow {
    position: absolute;
    top: 0;
    display: block;
    width: 15px;
    height: 15px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: solid 2px $white;
    border-left: none;
    border-top: none;

    &--left {
      left: 0;
      transform: rotate(135deg);
    }

    &--right {
      right: 0;
      transform: rotate(-45deg);
    }
  }

  .review__desc {
    font-size: 22px;
    line-height: 32px;
    margin-top: 0;
    margin-bottom: 40px;
  }

  .review__autor {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 0;
  }
}


@media(min-width: 660px) {
  .update-02-2020 {
    .review__glide {
      width: 585px;
      margin: 0 auto;
    }

    .review__slide {
      margin: 0 auto;
      width: 90%;
    }

    .review__arrow-wrap {
      width: 106%;
    }
  }
}

@media(min-width:$tablet-width) {
  .update-02-2020 {
    .review__title {
      text-align: left;
      width: 821px;
      margin: 0 auto;
      padding: 0;
      margin-bottom: 35px;
    }

    .review__glide {
      width: 821px;
    }

    .review__slide {
      width: 80%;
      margin: 0 auto;
    }

    .review__arrow-wrap {
      top: 50%;
    }
  }
}

@media(min-width:$desktop-width) {
  .update-02-2020 {
    .review__title {
      width: 1100px;
      margin-left: auto;
      margin-right: auto;
      padding: 0;
    }

    .review__glide {
      width: 1100px;
    }
  }
}