div.advantage__wrap
  h2.advantage__title Why study online with ESSEC Business School?
  p.advantage__desc ESSEC Business School, a pioneer and leader in its field, offers Executive Education for Managers with a selection of premium online courses and genuine case studies on digital transformation. Staying faithful to our tradition of innovation and our pioneering spirit, we have launched our new Augmented Digital Campus that offers you a unique and rich online learning experience.
  a.advantage__more(href="https://digitalcampus.essec.edu/augmented-digital-campus-essec/") Learn more
div.advantage__wrap-list
  ul.advantage__list
    li.advantage__item(style="background-image: url(img/icon-worldwide.png)")
      em.advantage__item-title #7 Worldwide Executive Education
      p.advantage__item-desc Financial Times
    li.advantage__item(style="background-image: url(img/icon-alumni.png)")
      em.advantage__item-title Join 50,000 Alumni
      p.advantage__item-desc All over the world
    li.advantage__item(style="background-image: url(img/icon-formation.png)")
      em.advantage__item-title All courses eligible for CPF
      p.advantage__item-desc Flexible financing options 