div.advantage.wrap
  h2 Why study online with ESSEC Business School?
  p ESSEC Business School, a pioneer and leader in its field, offers Executive Education for Managers with a selection of premium online courses and genuine case studies on digital transformation. Staying faithful to our tradition of innovation and our pioneering spirit, we have launched our new Augmented Digital Campus that offers you a unique and rich online learning experience.
  a(href="#") Learn more
div
  ul
    li
      em #7 Worldwide Executive Education
      p Financial Times
    li
      em Join 50,000 Alumni
      p All over the world
    li
      em All courses eligible for CPF
      p Flexible financing options 