p.contact__desc The pioneering spirit
ul.contact__list
  li.contact__item
    a.contact__link(href="#")
    i.fas.fa-facebook-f(style="font-family: 'Font Awesome 5 Brands'; font-weight: 400;")
  li.contact__item
    a.contact__link(href="#")
    i.fas.fa-twitter(style="font-family: 'Font Awesome 5 Brands'; font-weight: 400;")
  li.contact__item
    a.contact__link(href="#")
    i.fas.fa-instagram(style="font-family: 'Font Awesome 5 Brands'; font-weight: 400;")