      //- i.fas.fa-facebook-f(style="font-family: 'Font Awesome 5 Brands'; font-weight: 400;color:gray;")
      //- i.fas.fa-twitter(style="font-family: 'Font Awesome 5 Brands'; font-weight: 400;color:gray;")
      //- i.fas.fa-instagram(style="font-family: 'Font Awesome 5 Brands'; font-weight: 400;color:gray;")