footer.footer
  .footer__logo
    img(src="", alt="logo ESSEC")
  .footer__nav.nav
    ul.nav__list
      li.nav__item
        a.nav__link Home
      li.nav__item
        a.nav__link About ESSEC
      li.nav__item
        a.nav__link Online Programmes
      li.nav__item
        a.nav__link Fees
      li.nav__item
        a.nav__link Testimonials
  .footer__certifs.certifs
    ul.certifs__list
      li.certifs__item
        img(src="", alt="certificate Financial Times #8 worldwide executive education")
      li.certifs__item
        img(src="", alt="certificate Association of MBAs accredited")
      li.certifs__item
        img(src="", alt="certificate of compliance in professional training from AFNOR")
      li.certifs__item
        img(src="", alt="certificate AACSB accredited")
      li.certifs__item
        img(src="", alt="certificate EFMD Equis accredited")
  .footer__contact.contact
    include contact


