div.media__wrap
  div.media__wrap-desc
    button.media__play-btn(type="button")
    h2.media__title Presentation - Augmented Digital Campus
    p.media__desc Julien Malaurent, Professor of Information Systems at ESSEC, presents the ESSEC<br>Augmented Digital Campus
  div.media__video(poster="img/content/content-media-mobile.png") 
    <iframe width="560" height="315" src="https://www.youtube.com/embed/nZDTGvyIUcA?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>