div.media__wrap
  div.media__wrap-desc
    button.media__play-btn(type="button")
    h2.media__title Presentation - Augmented Digital Campus
    p.media__desc Julien Malaurent, Professor of Information Systems at ESSEC, presents the ESSEC<br>Augmented Digital Campus
  video.media__video(poster="img/content/content-media-mobile.png") Элемент video не поддерживается вашим браузером. 
  //- source(src="video/test.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')