.programmes__programm-long
  div.programmes__item
      h2.programmes__title-long Online executive certificates for managers looking to increase their employability
      p.programmes__desc-long Executive Certificates are perfect for managers who need to boost their digital skills and tackle digital transformation in its different areas.
      .programmes__page-master
        div.programmes__program-addition.program-addition
          ul.program-addition__list.program-addition__list--4
            li.program-addition__item Big Data & Artificial Intelligence for Business
            li.program-addition__item Design Thinking & Agile Methods
            li.program-addition__item Mastering Digital Business Models: From Design to Responsible Governance
            li.program-addition__item Driving Digital Change: People & Processes
        div.programmes__item-wrap
          div.programmes__status
            span.programmes__status-open Open to admissions
            a.programmes__tag(href="#") Executive certificate
          h3.programmes__program-title Certified Professional Programme in Digital Transformation
          p.programmes__program-desc Combine the 4 online certificates to complete the Certified Professional Programme in Digital Transformation.
          h3.programmes__program-title-long Combine the 4 online certificates  to complete the Certified Professional Programme in Digital Transformation
          p.programmes__program-desc-long Study online at your own pace with total flexibility and boost your skills in the major fields related to digital transformation.
          div.programmes__info
            p.programmes__info-desc #[strong.programmes__info-name Next intake:] Join with any Certificate
            p.programmes__info-desc #[strong.programmes__info-name Format:] 100% online, 100% in English
            p.programmes__info-desc #[strong.programmes__info-name Duration:] 8 weeks x 4
            p.programmes__info-desc #[strong.programmes__info-name Next Recognition:] 32 ECTS credits
            p.programmes__info-desc #[strong.programmes__info-name Fees:] €16,200 excl. tax
          a.programmes__more(href="#") Learn more
            i.fas.fa-arrow-right
  div.programmes__item
    h2.programmes__title-long Certified Professional Programme in Digital Transformation for people looking to give their career a boost 
    p.programmes__desc-long Perfect for middle and top managers who need a flexible and integrated solution to take their mastery of digital transformation to the next level.
    .programmes__page-master
      div.programmes__program-addition.program-addition
        ul.program-addition__list.program-addition__list--7
          li.program-addition__item Big Data & Artificial Intelligence for Business
          li.program-addition__item Design Thinking & Agile Methods
          li.program-addition__item Mastering Digital Business Models: From Design to Responsible Governance 
          li.program-addition__item Driving Digital Change: People & Processes
          li.program-addition__item Fundamentals of Management
          li.program-addition__item Environment and Strategy of Organisations
          li.program-addition__item Master’s Thesis
      div.programmes__item-wrap
        div.programmes__status
          span.programmes__status-open Open to admissions
          a.programmes__tag(href="#") Executive certificate
        h3.programmes__program-title Executive Master in Digital Transformation
        p.programmes__program-desc Today managers and leaders evolve in a world that is both global and digital. Taught in English and 100% online our Executive Master  will meet the highest expectations.
        h3.programmes__program-title-long ESSEC Executive Master in Digital Transformation (RNCP level 1).
        p.programmes__program-desc-long Our Executive Master is designed for qualifed professionals who would like to boost or change their career and gain a complete set of skills that will allow them to drive their business through digital transformation. Today managers and leaders are working in a global and digital world. Taught in English and 100% online, our Executive Master will meet the highest expectations.
        div.programmes__info
          p.programmes__info-desc #[strong.programmes__info-name Next intake:] Join with any Certificate
          p.programmes__info-desc #[strong.programmes__info-name Format:] 100% online, 100% in English
          p.programmes__info-desc #[strong.programmes__info-name Duration:] 16 months on average
          p.programmes__info-desc #[strong.programmes__info-name Next Recognition:] 90 ECTS credits
          p.programmes__info-desc #[strong.programmes__info-name Fees:] €24,000 excl. tax
        a.programmes__more(href="#") Learn more
          i.fas.fa-arrow-right
      