.programmes__glide
  .glide__track(data-glide-el="track")
    ul.programmes__list.glide__slides
      li.programmes__item.glide__slide
        .programmes__slide-wrap
          div.programmes__status
            span.programmes__status-open Open to admissions
            a.programmes__tag(href="#") Executive certificate
          h3.programmes__program-title Driving Digital Change: People & Processes
          p.programmes__program-desc Designed by recognised experts in change management, this Executive Certificate will help you  seamlessly lead the digital transformation of your organisation.
          div.programmes__info
            p.programmes__info-desc #[strong.programmes__info-name Next intake:] 27 January 2020
            p.programmes__info-desc #[strong.programmes__info-name Format:] 100% online, 100% in English
            p.programmes__info-desc #[strong.programmes__info-name Duration:] 8 weeks
            p.programmes__info-desc #[strong.programmes__info-name Next Recognition:] 8 ECTS credits
            p.programmes__info-desc #[strong.programmes__info-name Fees:] €4,500 excl. tax
          a.programmes__more(href="#") Learn more
            i.fas.fa-arrow-right

      li.programmes__item.glide__slide
        .programmes__slide-wrap
          div.programmes__status
            span.programmes__status-open Open to admissions
            a.programmes__tag(href="#") Executive certificate
          h3.programmes__program-title Design Thinking & Agile Methods
          p.programmes__program-desc Our Executive Certificate involves practical training to ensure you achieve the depth of focus required in areas such as design and agile thinking.
          div.programmes__info
            p.programmes__info-desc #[strong.programmes__info-name Next intake:] 17 February 2020
            p.programmes__info-desc #[strong.programmes__info-name Format:] 100% online, 100% in English
            p.programmes__info-desc #[strong.programmes__info-name Duration:] 8 weeks
            p.programmes__info-desc #[strong.programmes__info-name Next Recognition:] 8 ECTS credits
            p.programmes__info-desc #[strong.programmes__info-name Fees:] €4,500 excl. tax
          a.programmes__more(href="#") Learn more
            i.fas.fa-arrow-right

      li.programmes__item.glide__slide
        .programmes__slide-wrap
          div.programmes__status
            span.programmes__status-open Open to admissions
            a.programmes__tag(href="#") Executive certificate
          h3.programmes__program-title Big Data & Artificial Intelligence for Business
          p.programmes__program-desc This Executive Certificate provides an opportunity to explore ongoing developments in artificial intelligence, big data, the internet of things, blockchain, GDPR and quantum computing. 
          div.programmes__info
            p.programmes__info-desc #[strong.programmes__info-name Next intake:] 23 March 2020
            p.programmes__info-desc #[strong.programmes__info-name Format:] 100% online, 100% in English
            p.programmes__info-desc #[strong.programmes__info-name Duration:] 8 weeks
            p.programmes__info-desc #[strong.programmes__info-name Next Recognition:] 8 ECTS credits
            p.programmes__info-desc #[strong.programmes__info-name Fees:] €4,500 excl. tax
          a.programmes__more Learn more
            i.fas.fa-arrow-right

      li.programmes__item.glide__slide
        .programmes__slide-wrap
          div.programmes__status
            span.programmes__status-open Open to admissions
            a.programmes__tag(href="#") Executive certificate
          h3.programmes__program-title Mastering Digital Business Models: From Design to Responsible Governance
          p.programmes__program-desc ESSEC professors have designed this Executive Certificate to provide managers with expertise on a platform-based approach to master digital business models.
          div.programmes__info
            p.programmes__info-desc #[strong.programmes__info-name Next intake:] 27 April 2020
            p.programmes__info-desc #[strong.programmes__info-name Format:] 100% online, 100% in English
            p.programmes__info-desc #[strong.programmes__info-name Duration:] 8 weeks
            p.programmes__info-desc #[strong.programmes__info-name Next Recognition:] 8 ECTS credits
            p.programmes__info-desc #[strong.programmes__info-name Fees:] €4,500 excl. tax
          a.programmes__more(href="#") Learn more
            i.fas.fa-arrow-right

      li.programmes__item.glide__slide
        .programmes__slide-wrap.programmes__slide-wrap--master
          div.programmes__status
            span.programmes__status-open Open to admissions
            a.programmes__tag(href="#") Executive certificate
          h3.programmes__program-title Certified Professional Programme in Digital Transformation
          p.programmes__program-desc Combine the 4 online certificates to complete the Certified Professional Programme in Digital Transformation.
          div.programmes__info
            p.programmes__info-desc #[strong.programmes__info-name Next intake:] Join with any Certificate
            p.programmes__info-desc #[strong.programmes__info-name Format:] 100% online, 100% in English
            p.programmes__info-desc #[strong.programmes__info-name Duration:] 8 weeks x 4
            p.programmes__info-desc #[strong.programmes__info-name Next Recognition:] 32 ECTS credits
            p.programmes__info-desc #[strong.programmes__info-name Fees:] €16,200 excl. tax
          a.programmes__more(href="#") Learn more
            i.fas.fa-arrow-right

      li.programmes__item.glide__slide
        .programmes__slide-wrap.programmes__slide-wrap--master
          div.programmes__status
            span.programmes__status-open Open to admissions
            a.programmes__tag(href="#") Executive certificate
          h3.programmes__program-title Executive Master in Digital Transformation
          p.programmes__program-desc Today managers and leaders evolve in a world that is both global and digital. Taught in English and 100% online our Executive Master  will meet the highest expectations.
          div.programmes__info
            p.programmes__info-desc #[strong.programmes__info-name Next intake:] Join with any Certificate
            p.programmes__info-desc #[strong.programmes__info-name Format:] 100% online, 100% in English
            p.programmes__info-desc #[strong.programmes__info-name Duration:] 16 months on average
            p.programmes__info-desc #[strong.programmes__info-name Next Recognition:] 90 ECTS credits
            p.programmes__info-desc #[strong.programmes__info-name Fees:] €24,000 excl. tax
          a.programmes__more(href="#") Learn more
            i.fas.fa-arrow-right
  div.programmes__arrow-wrap.glide__arrows(data-glide-el="controls")
    button.programmes__arrow.programmes__arrow--left.glide__arrow.glide__arrow--left(type="button" aria-label="last slide" data-glide-dir="<")
    button.programmes__arrow.programmes__arrow--right.glide__arrow.glide__arrow--right(type="button" aria-label="next slide" data-glide-dir=">")
