h2.programmes__title Discover our online Digital Transformation programmes
ul.programmes__list

  li.programmes__item
    div.programmes__status
      span.programmes__status-open Open to admissions
      a.programmes__sertificate(href="#") Executive certificate
    h3.programmes__program-title Driving Digital Change: People & Processes
    p.programmes__program-desc Designed by recognised experts in change management, this Executive Certificate will help you  seamlessly lead the digital transformation of your organisation.
    div.programmes__info
      p.programmes__info-desc #[strong.programmes__info-name Next intake:] 27 January 2020
      p.programmes__info-desc #[strong.programmes__info-name Format:] 100% online, 100% in English
      p.programmes__info-desc #[strong.programmes__info-name Duration:] 8 weeks
      p.programmes__info-desc #[strong.programmes__info-name Next Recognition:] 8 ECTS credits
      p.programmes__info-desc #[strong.programmes__info-name Fees:] €4,500 excl. tax
    a.programmes__more Learn more
      i.fas.fa-arrow-right

  li.programmes__item
    div.programmes__status
      span.programmes__status-open Open to admissions
      a.programmes__sertificate(href="#") Executive certificate
    h3.programmes__program-title Driving Digital Change: People & Processes
    p.programmes__program-desc Designed by recognised experts in change management, this Executive Certificate will help you  seamlessly lead the digital transformation of your organisation.
    div.programmes__info
      p.programmes__info-desc #[strong.programmes__info-name Next intake:] 27 January 2020
      p.programmes__info-desc #[strong.programmes__info-name Format:] 100% online, 100% in English
      p.programmes__info-desc #[strong.programmes__info-name Duration:] 8 weeks
      p.programmes__info-desc #[strong.programmes__info-name Next Recognition:] 8 ECTS credits
      p.programmes__info-desc #[strong.programmes__info-name Fees:] €4,500 excl. tax
    a.programmes__more Learn more
      i.fas.fa-arrow-right

  li.programmes__item
    div.programmes__status
      span.programmes__status-open Open to admissions
      a.programmes__sertificate(href="#") Executive certificate
    h3.programmes__program-title Driving Digital Change: People & Processes
    p.programmes__program-desc Designed by recognised experts in change management, this Executive Certificate will help you  seamlessly lead the digital transformation of your organisation.
    div.programmes__info
      p.programmes__info-desc #[strong.programmes__info-name Next intake:] 27 January 2020
      p.programmes__info-desc #[strong.programmes__info-name Format:] 100% online, 100% in English
      p.programmes__info-desc #[strong.programmes__info-name Duration:] 8 weeks
      p.programmes__info-desc #[strong.programmes__info-name Next Recognition:] 8 ECTS credits
      p.programmes__info-desc #[strong.programmes__info-name Fees:] €4,500 excl. tax
    a.programmes__more Learn more
      i.fas.fa-arrow-right

  li.programmes__item
    div.programmes__status
      span.programmes__status-open Open to admissions
      a.programmes__sertificate(href="#") Executive certificate
    h3.programmes__program-title Driving Digital Change: People & Processes
    p.programmes__program-desc Designed by recognised experts in change management, this Executive Certificate will help you  seamlessly lead the digital transformation of your organisation.
    div.programmes__info
      p.programmes__info-desc #[strong.programmes__info-name Next intake:] 27 January 2020
      p.programmes__info-desc #[strong.programmes__info-name Format:] 100% online, 100% in English
      p.programmes__info-desc #[strong.programmes__info-name Duration:] 8 weeks
      p.programmes__info-desc #[strong.programmes__info-name Next Recognition:] 8 ECTS credits
      p.programmes__info-desc #[strong.programmes__info-name Fees:] €4,500 excl. tax
    a.programmes__more Learn more
      i.fas.fa-arrow-right

  li.programmes__item.programmes__item--digital
    div.programmes__status
      span.programmes__status-open Open to admissions
      a.programmes__sertificate(href="#") Executive certificate
    h3.programmes__program-title Driving Digital Change: People & Processes
    p.programmes__program-desc Designed by recognised experts in change management, this Executive Certificate will help you  seamlessly lead the digital transformation of your organisation.
    div.programmes__info
      p.programmes__info-desc #[strong.programmes__info-name Next intake:] 27 January 2020
      p.programmes__info-desc #[strong.programmes__info-name Format:] 100% online, 100% in English
      p.programmes__info-desc #[strong.programmes__info-name Duration:] 8 weeks
      p.programmes__info-desc #[strong.programmes__info-name Next Recognition:] 8 ECTS credits
      p.programmes__info-desc #[strong.programmes__info-name Fees:] €4,500 excl. tax
    a.programmes__more Learn more
      i.fas.fa-arrow-right

  li.programmes__item.programmes__item--digital
    div.programmes__status
      span.programmes__status-open Open to admissions
      a.programmes__sertificate(href="#") Executive certificate
    h3.programmes__program-title Driving Digital Change: People & Processes
    p.programmes__program-desc Designed by recognised experts in change management, this Executive Certificate will help you  seamlessly lead the digital transformation of your organisation.
    div.programmes__info
      p.programmes__info-desc #[strong.programmes__info-name Next intake:] 27 January 2020
      p.programmes__info-desc #[strong.programmes__info-name Format:] 100% online, 100% in English
      p.programmes__info-desc #[strong.programmes__info-name Duration:] 8 weeks
      p.programmes__info-desc #[strong.programmes__info-name Next Recognition:] 8 ECTS credits
      p.programmes__info-desc #[strong.programmes__info-name Fees:] €4,500 excl. tax
    a.programmes__more Learn more
      i.fas.fa-arrow-right