h2.review__title What our participants say about us
div.review__wrap
  ul.review__list
    li.review__item
      p.review__desc I wanted to find a solution with a blockchain specialist in order to analyse and extract a database through an automated process from a CSV file. I was able to discuss this technical solution thanks to data visualisation courses.
      p.review__autor Bejamin V. (Mastering Digital Business Models)
    li.review__item
      p.review__desc I wanted to find a solution with a blockchain specialist in order to analyse and extract a database through an automated process from a CSV file. I was able to discuss this technical solution thanks to data visualisation courses.
      p.review__autor Bejamin V. (Mastering Digital Business Models)
    li.review__item
      p.review__desc I wanted to find a solution with a blockchain specialist in order to analyse and extract a database through an automated process from a CSV file. I was able to discuss this technical solution thanks to data visualisation courses.
      p.review__autor Bejamin V. (Mastering Digital Business Models)
div.review__arrow
  i.fas.fa-angle-left
  i.fas.fa-angle-right